<h1>CoachingController#answer</h1>

<p>
  <%= @question %>
  <%= @coach_answer %>
</p>

<a href="/ask">ask the coach another question</a>


<p>Find me in app/views/coaching_controller/answer.html.erb</p>
